@font-face {
    font-family: 'BaseNeue';
    src: url('./fonts/BaseNeue-SuperExpandedBlack.ttf') format('truetype');
    font-weight: 900;
    /* heavy weight */
    font-style: normal;
    font-display: swap;
}

/* SuperExpandedLight */
@font-face {
    font-family: 'BaseNeue';
    src: url('./fonts/BaseNeue-SuperExpandedLight.ttf') format('truetype');
    font-weight: 300;
    /* light weight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseNeue';
    src: url('./fonts/BaseNeue-WideSemiBold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Suisse BP Int\'l';
    src: url('./fonts/Suisse\ BP\ Int\'l\ Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse BP Int\'l';
    src: url('./fonts/Suisse\ BP\ Int\'l\ Medium\ \(1\).otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}